<div class="about-us">
    <div class="columns center-content">
        <div class="col-1 text-area">
          <h2>Objetivo</h2>
          
          <p>Proporcionar accesorios de calidad que sean cuidadosos con las diferentes propiedades que tiene el cabello.</p>
        </div>
    </div>

    <div class="columns center-content">
      <div class="col-1 text-area">
        <h2>Visión</h2>
        <p>Ser una empresa lider en la elaboración y venta de accesorios de alta calidad para el cabello conforme a las tendencias del mercado.</p>
      </div>
  </div>

    <div class="columns center-content">
      <div class="col-1 text-area">
        <h2>Misión</h2>
        <p>
          Ser la empresa líder en el diseño y elaboración de accesorios para el cabello, los cuales proporcionen siempre la satisfacción al cliente teniendo en cuenta las tendencias de la moda.
        </p>
      </div>
    </div>

  </div>

<app-footer></app-footer>