* {
  box-sizing: border-box;
}

section {
  align-items: center;
  padding: 15% 5%;
  background-color: rgb(237, 253, 254);
}

.login {
  margin: auto auto;
  max-width: 350px;
  height: auto;
  width: auto;
  background-color: white;
  border-radius: 50px;
  box-shadow: 1px 1px 3px #999;
  padding: 30px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

input {
  background-color: rgba(245, 242, 242, 0.798);
  border-radius: 30px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.button-login {
  background-color: rgba(39, 71, 49, 0.798);
  border-radius: 30px;
  border: none;
  color: white;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-login:hover {
  background-color: rgba(26, 47, 32, 0.798);
}

.button-signup {
  background-color: white;
  border-radius: 30px;
  border: 2px solid rgba(245, 242, 242, 0.798);
  color: black;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-signup:hover {
  background-color: rgba(39, 71, 49, 0.798);
  border: 2px solid white;
  color: white;
}

.info {
  margin: 10pt 0;
}
